<div class=" container content">
    <div class="container mt-3">
      <h6 class="text-center">CREAR MODELO DE VEHICULO</h6>
      <br>
      <!-- Tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tutor">Cuenta Padre/Tutor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#conductor">Cuenta Conductor</a>
        </li>
      </ul>
  
      <!-- Formulario Tutor -->
      <div class="tab-content">
        <div id="tutor" class="container tab-pane active"><br>
  
          <form [formGroup]="formModelVehiculo" (ngSubmit)="saveModelVehiculo(formModelVehiculo)">
  
              <br>
            <div class="form-group">
              <input type="text" class="form-control form-control-sm" placeholder="Nombre" formControlName="mv_nombre">
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-sm" placeholder="Nunero de Asientos" formControlName="mv_nroAsientos">
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-sm" placeholder="Numero de Pasajeros" formControlName="mv_nroPasajeros">
            </div>
            <select name="" formControlName="id_marcas">
                <option value="" disabled>Selecciona marca</option>
                <option value="1">TOYOTA</option>
                <option value="2">NISSAN</option>
            </select>
            <select name="" formControlName="id_tVehiculo">
                <option value="" disabled>Selecciona marca</option>
                <option value="1">a</option>
                <option value="2">b</option>
            </select>


            <!-- <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
                Marca
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Toyota</a>
                <a class="dropdown-item" href="#">Nissan</a>
                <a class="dropdown-item" href="#">Ferrary</a>
              </div>
            </div> -->
            <br>
            <!-- <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Tipo de Vehiculo
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Auto</a>
                <a class="dropdown-item" href="#">Miniband</a>
                <a class="dropdown-item" href="#">Camioneta</a>
              </div>
            </div> -->
            <br>
            <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Aceptar los Terminos y Condiciones de Uso
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Grabar</button>
          </form>
  
  
        </div>
        <!-- Formulario Conductor -->
        <div id="conductor" class="container tab-pane fade"><br>
          <h3>Menu 1</h3>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
  
      </div>
    </div>
  </div>
  