<div class="row">
  <div class="col-lg-4">
    <div class="card-body block-1">
      <h5 class="card-title"><b>Grupo:</b></h5>
      <h5 class="card-text">Movilidades Seguras SAC</h5>
      <a href="#"><img src="../../../assets/icon/sitio.png" alt="sitio" class="social-icon"></a>
      <h6 class="card-text">Sede Trujillo</h6>
      <a href="#"><img src="../../../assets/icon/email.png" alt="email" class="social-icon"></a>
      <h6 class="card-text">contacto@movility4school.org</h6>
      <a href="#"><img src="../../../assets/icon/llamar.png" alt="llamar" class="social-icon"></a>
      <h6 class="card-text">(044)-253654</h6>
      <h6 class="card-text">(051)-965836548</h6>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card-body block-2">
      <h5 class="card-title"><b>¿Que es Movility for School?</b></h5>
      <h6 class="card-text">Quienes Somos</h6>
      <h6 class="card-text">Conoce los Servicios y Planes</h6>
      <h6 class="card-text">Requisitos</h6>
      <h6 class="card-text">Preguntas Frecuentes</h6>
    </div>
  </div>
  <div class="col-lg-4 redes">
    <div class="card-body block-3 ">
      <h6 class="card-text">Siguenos en Nuestras Redes</h6>
      <div class="">
        <a href="#"><img src="../../../assets/icon/facebook.png" alt="facebook" class="social-icon"></a>
        <a href="#"><img src="../../../assets/icon/instagram.png" alt="instagram" class="social-icon"></a>
        <a href="#"><img src="../../../assets/icon/google+.png" alt="google" class="social-icon"></a>
        <a href="#"><img src="../../../assets/icon/linkedin.png" alt="linkedin" class="social-icon"></a>
        <a href="#"><img src="../../../assets/icon/whatsaap.png" alt="whatsaap" class="social-icon"></a>
      </div>




    </div>
  </div>




</div>









<div class="row color-footer">
  <div class="col-12">
    <div class=" row text-footer">
      <span><a href="#">Términos y condiciones</a></span>
      <span><a href="#">Políticas de privacidad</a></span>
      <span><a>© Todos los derechos reservados m4s.com.pe - 2020</a></span>
    </div>
  </div>
</div>
