body{
    margin:0;
    font-family: sans-serif;
}

header{
    width: 100%;
    background: #fff;
}


.input-buscar {
    
    position: relative;
    top:10px;
    background: #F7F719;
    background-size: 20px;
    display: flex;
    text-align: left;
    font-size: 14px;
    width: 180px;
    padding-left: 28px;
    height: 30px;
    border: 1px solid #25adf7;
    border-radius: 15px;
  }
.icon{
    position: relative;
    top:-25px;
    right: -130px;

    width: 40px;
    height: 40px;
    padding: 10px;
}

.redes{
    position: relative;
    display: inline;
    left: 0;

}

//////////////////////////////
*{box-sizing:border-box;}

		.container{
			width:95%;
			max-width:900px;
			padding:32px 64px;
			margin:auto;
		}

		.social{
            /*las imágenes usadas tienen width de 48px*/
            position: relative;
            float: right;
        
		}





#btn-menu{
    display: none;
}
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}
header label:hover{
cursor: pointer;
background:rgba(0,0,0,0.3);
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.menu li{
    border-right: 1px solid #fff;
}
.menu li:hover{
    background: rgba(51,153, 255, 0.3);
    border-radius: 15px
}
.menu li a{
display: block;
padding: 15px 20px;
color: #000;

text-decoration: none;
}

@media(max-width:768px){
    header label{
        display: block;
    }
    .menu{
        position: absolute;
        background: #fff;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu{
        margin:0;
    }
}