@import '../../../sass/styles.scss';

body{
    margin:0;
}

header{
    width: 100%;
    background:$color-gray-light;
    padding: 0 15px;
}

.search-school{
    position:relative;
    input{
        padding-right: 40px;
    }
    .icon{
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        padding: 5px 15px 5px;
    }
}


img.logo-main {
    height: 100px;
}
.nav{
    justify-content: flex-end;
}

.social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 15px;
    .social-icon{
        height: 20px;
        padding-right: 10px;
    }
    
}
@media(max-width:992px){
    .search-school{
    position: absolute;
    top: 2em;
    right: 5em;
    }
}
