   
    <header>
        <div class="social">
            <a href="#"><img src="../../../assets/icon/facebook.png" alt="facebook"  class="social-icon" ></a>
            <a href="#"><img src="../../../assets/icon/instagram.png" alt="instagram"  class="social-icon"></a>
            <a href="#"><img src="../../../assets/icon/google+.png" alt="google"  class="social-icon"></a>
            <a href="#"><img src="../../../assets/icon/linkedin.png" alt="linkedin"  class="social-icon"></a>
            <a href="#"><img src="../../../assets/icon/whatsaap.png" alt="whatsaap"  class="social-icon"></a>
           <div >
                <button  type="text" name="" id="" class="input-buscar btn-yellow">Ingresar</button>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <img src="../../../assets/imagenes/logo-text.png" class="logo-main">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Conocenos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contactanos</a>
                </li>
              </ul>
            </div>
            <div class="search-school" >
              <input  type="text" name=""  class="btn-yellow" placeholder="Buscar Colegio" >
              <img src="../../../assets/icon/buscar.png" alt="" class="icon">
            </div>
        </nav>
       
    </header>
   
        
