   
    <header>
        <div>      
            <div class="container">
                
            </div>
        
            <div class="social">
                <a href="#"><img src="../../../assets/icon/facebook.png" alt="facebook"  width="30px" height="30px"></a>
                <a href="#"><img src="../../../assets/icon/instagram.png" alt="instagram"  width="30px" height="30px"></a>
                <a href="#"><img src="../../../assets/icon/twiter.png" alt="twiter"  width="30px" height="30px"></a>
                <a href="#"><img src="../../../assets/icon/google+.png" alt="google"  width="30px" height="30px"></a>
                <a href="#"><img src="../../../assets/icon/linkedin.png" alt="linkedin"  width="30px" height="30px"></a>
                <a href="#"><img src="../../../assets/icon/whatsaap.png" alt="whatsaap"  width="30px" height="30px"></a>
                <img src="../../../assets/icon/global.png" alt="whatsaap"  width="30px" height="30px">Idioma:Español
                <div >
                    <button  type="text" name="" id="" class="input-buscar" >Ingresar</button>
                    <img src="../../../assets/icon/next.png" alt="" width="30px" height="30px" class="icon">
                </div>
            </div>
            
            <img src="../../../assets/imagenes/logo.png" height="80px" width="80px">
            <img src="../../../assets/imagenes/logo-text.png" height="80px" width="200px">
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu"><img src="../../../assets/icon/menu.png" alt=""></label>
            <nav class="menu">
            <ul>
                <li><a href=""><b>Inicio</b></a></li>
                <li><a href=""><b>Conocenos</b></a></li>
                <li><a href=""><b>Servicios</b></a></li>
                <li><a href=""><b>Contactanos</b></a></li>
                <div >
                    <input  type="text" name="" id="" class="input-buscar" placeholder="Buscar Colegio" >
                    <img src="../../../assets/icon/buscar.png" alt="" width="30px" height="30px" class="icon">
                </div>
            </ul>
            </nav>
            </div>
    </header>
    <section class="block">
        <div class="block-asd">
            <div class="block-asd--er"></div>
        </div>
    </section>
        
