    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movility School</title>
    <link rel="./../sass/stylesheet" href="styles.scss">
</head>
<body background-color: #0D1C36>
    
    <div class="">   
        <p>

          </p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">  
                <img src="../../../assets/imagenes/logo.png" height="100px" width="100px">
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Conocenos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contactanos</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar Colegio">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>                           
    </div>

        


</body>

</html>


