<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../../../assets/imagenes/logo.png" height="80px" width="80px">
        <img src="../../../assets/imagenes/logo-text.png" height="80px" width="200px">
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img src="../../../assets/icon/menu.png" alt=""></label>
        <nav class="menu">
        <ul>
            <li><a href=""><b>Inicio</b></a></li>
            <li><a href=""><b>Conocenos</b></a></li>
            <li><a href=""><b>Servicios</b></a></li>
            <li><a href=""><b>Contactanos</b></a></li>
        </ul>
        </nav>
    </header>
        
</body>
</html>