.btn-color{
    
    background: #F7F719;
    border-radius: 15px;
    color: #000;
    font-size: 20px ;
    position: relative;
    top: -300px;
    left: 300px;
    right: 150;
    width: 150px;
    height: 80;
    
}

