<!--Slider del home-->
<div class="flexslider">
    <ngb-carousel class="slides">
       <ng-template *ngFor ="let plan of planes"ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="{{plan.img}}" alt="">
         
        </div>
        <div class="carousel-caption">
          <button class="btn"><b>Enterate +</b></button>
          <h1 >{{plan.name}}</h1>
          <p>{{plan.desc}}</p>
          
          
        </div>
      </ng-template>
    </ngb-carousel>
</div>

<!--Cuerpo del home-->
<section class="block-plus">
    <br>
    <h2>¿CUALES SON LOS BENEFICIOS DE NUESTRA <br> MOVILIDAD ESCOLAR ?</h2>
    <br><br>
    <div class="row block-products mx-5">
        <div class="col-lg-3">
            <div class="">
                  <div class="list-img">
                      <img src="../../../assets/imagenes/icono1.png" class="" alt="...">
                  </div>
                  <div class="card-body">
                    <h4 class="card-title"><b> Check List</b></h4>
                    <p class="card-text">Reporte diario y en tiempo <br> real del recojo  y llegada al <br> colegio de cada alumno.</p>
                    <p class="card-text"></p>
                  </div>
            </div>
        </div>  

        <div class="col-lg-3">
            <div class="card-img">
                <img src="../../../assets/imagenes/icono2.png" class="" alt="...">
                <div class="card-body">
                  <h4 class="card-title"><b>Pago Online</b></h4>
                  <p class="card-text">No necesitas moverte de <br> tu casa para poder contratar <br> nuestros servicios.</p>
                  <p class="card-text"></p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3">
            <div class="bell-img">
                <img src="../../../assets/imagenes/icono3.png" class="" alt="..." >
                <div class="card-body">
                  <h4 class="card-title"><b>Notificacion del Recojo</b></h4>
                  <p class="card-text">Te avisamos 5 minutos antes de <br> pasar por tu hijo para agilizar <br> la llegada al colegio</p>
                  <p class="card-text"></p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3">
            <div class="chat-img">
                <img src="../../../assets/imagenes/icono4.png" class="" alt="..." height="120px" width="200px">
                <div class="card-body">
                  <h4 class="card-title"><b>Interaccion Constante</b></h4>
                  <p class="card-text">Podras chatear con nosotros <br> para poder mejorar <br> nuestro servicio.</p>
                  
                </div>
            </div>
        </div>          
    </div>  
</section>

<section class="block-advertisin">
  <div class="row block-products mx-5">
    <div class="col-lg-6">
      <div class="">
            <div class="public1-img">
                <img src="../../../assets/imagenes/img.png" class="" alt="...">
            </div>
      </div>
  </div>  

<div class="col-lg-6">
    <div class="public2-img">
        <img src="../../../assets/imagenes/logo.png" class="" alt="...">
    </div>
</div>

  </div>
    
</section>
