<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <div class="body">
        <br>
        <h2>¿CUALES SON LOS BENEFICIOS DE NUESTRA <br> MOVILIDAD ESCOLAR ?</h2>
        <br><br><br>
        <div class="row block-products mx-5">
            <div class="col-lg-3">
                <div class="">
                    <img src="../../../assets/imagenes/ICONO 1.png" class="" alt="..." height="200px" width="120px">
                    <div class="card-body">
                      <h5 class="card-title">Reporte Check List</h5>
                      <p class="card-text">Reporte diario y en tiempo real del recojo y llegada al colegio de cada alumno.</p>
                    </div>
                </div>
            </div>  
            <div class="col-lg-3">
                <div class="">
                    <img src="../../../assets/imagenes/ICONO 2.png" class="" alt="..." height="120px" width="200px">
                    <div class="card-body">
                      <h5 class="card-title">Pago Online</h5>
                      <p class="card-text">No necesitas moverte de tu casa para poder contratar nuestros servicios.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="">
                    <img src="../../../assets/imagenes/ICONO 3.png" class="" alt="..." height="200px" width="200px">
                    <div class="card-body">
                      <h5 class="card-title">Notificacion del Recojo</h5>
                      <p class="card-text">Te avisamos 5 minutos antes de pasar por tu hijo para agilizar la llegada al colegio.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="">
                    <img src="../../../assets/imagenes/ICONO 4.png" class="" alt="..." height="120px" width="200px">
                    <div class="card-body">
                      <h5 class="card-title">Interaccion Constante</h5>
                      <p class="card-text">Podras chatear con nosotros para poder mejorar nuestro servicio.</p>
                    </div>
                </div>
            </div>            
          </div>
  
          


    </div>
  

</body>
</html>
