<div class=" container content">
  <div class="container mt-3">
    <h6 class="text-center">CREAR CUENTA</h6>
    <br>
    <!-- Tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tutor">Cuenta Padre/Tutor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#conductor">Cuenta Conductor</a>
      </li>
    </ul>

    <!-- Formulario Tutor -->
    <div class="tab-content">
      <div id="tutor" class="container tab-pane active"><br>

        <form action="#">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  Seleccione Documento
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Dni</a>
                  <a class="dropdown-item" href="#">Pasaporte</a>
                  <a class="dropdown-item" href="#">Carnet Extranjeria</a>
                </div>
              </div>
            <br>
          <div class="form-group">
            <input type="text" class="form-control form-control-sm" placeholder="Num. Documento" id="">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-sm" placeholder="Nombres" id="">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-sm" placeholder="Apellidos" id="">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-sm" placeholder="Correo Electronico" id="">
          </div>
          <div class="form-group">
            <input type="password" class="form-control form-control-sm" placeholder="Contraseña" id="">
          </div>
          <div class="form-group">
            <input type="password" class="form-control form-control-sm" placeholder="Repetir Contraseña" id="">
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> Aceptar los Terminos y Condiciones de Uso
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Siguiente</button>
        </form>


      </div>
      <!-- Formulario Conductor -->
      <div id="conductor" class="container tab-pane fade"><br>
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>

    </div>
  </div>
</div>
